[user]
    name = "Maël DONNART"
[core]
    editor = nvim
[init]
    defaultBranch = main
[pull]
    rebase = true
[diff]
    colorMoved = zebra
[fetch]
    prune = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
