export XDG_CONFIG_HOME=$HOME/.config
export GOPATH=$HOME/go
export GIT_EDITOR="nvim"
export EDITOR="nvim"
export VISUAL="nvim"
export DOTFILES=$HOME/.dotfiles

export LESS="-F -X -R"

{{ if eq .chezmoi.os "darwin" -}}
export DOCKER_HOST=unix:///Users/$(whoami)/.colima/local/docker.sock
{{- end }}

export PATH=$PATH:$HOME/.local/scripts
export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:$HOME/.local/go/bin
export PATH=$PATH:$HOME/go/bin

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
