* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono NF";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cad3f5;
}

tooltip {
  background: #24273a;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #181926;
}

#workspaces button {
  padding: 5px;
  color: #363a4f;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a5adcb;
}

#workspaces button.focused {
  color: #a5adcb;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #181926;
  background: #a6da95;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #181926;
  color: #cad3f5;
  border-radius: 10px;
}

#custom-launcher,
#custom-powermenu,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  background: #24273a;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #1e2030;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
  color: #ee99a0;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#custom-launcher {
  border-radius: 10px;
  margin: 10px 0 10px 10px;
  padding: 0 5px 0 0;
}

#custom-powermenu {
  color: #ee99a0;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  padding: 0 5px 0 0;
}

#workspaces {
  background: #24273a;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#waybar.empty #window {
  background: none;
  border: none;
}

#clock {
  color: #f5a97f;
  border-radius: 10px;
  margin-left: 10px;
  border-right: 0px;
}

#network {
  color: #eed49f;
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: #8aadf4;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#pulseaudio {
  color: #8aadf4;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #c6a0f6;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  color: #a6da95;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}
