@define-color accent #8aadf4;
@define-color txt #cad3f5;
@define-color bg #24273a;

window {
	background-color: transparent;
}

button {
    color: @txt;
    box-shadow: none;
    font: 16px "JetBrainsMono Nerd Font";
	border: 2px solid @accent;
    border-radius: 20px;
	background: no-repeat center/25% @bg;
    min-width: 70px;
}

button:focus, button:active, button:hover {
	background-color: @accent;
    color: @bg;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#poweroff {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
